.info-page {
  text-align: left;
  padding: 0 20px;

  .group-member {
    display: flex;
    padding: 20px 0;
  
    .member-pic {
      width: 20%;
    }
  
    .member-bio {
      padding-left: 25px;
      box-sizing: border-box;
    }
  }
}

@include mobile {
  .info-page .group-member {
    flex-direction: column;

    .member-pic {
      width: 100%;
    }

    .member-bio {
      padding-left: 0;
    }
  }
}