.info-page {
  text-align: left;
  padding: 0 20px;

  .group-member {
    display: flex;
    margin: 80px 20px 40px 20px;
  
    .member-pic {
      width: 200px;
    }
  
    .member-bio {
      margin-left: 25px;
    }
  }
}
