h1 {
  font-size: 40px;
  font-weight: 800;
}

.page-header {
  width: 150px;
  margin-left: 20px;
  background-color: rgba($color: #e9c6c6, $alpha: 0.75);
}

.company {
  margin: 80px;
  text-align: center;
}

.single-company-logo {
  width: 200px;
}

.category {
  padding: 15px;
  border-bottom: 2px solid $accent;
}
.company-snapshot {
  text-align: center;
  background-color: $accent;
  padding:30px;
}

.demographics {
  padding: 15px;
  margin-top: 20px;
  background-color: rgb(143, 165, 229);
}

.labor-practices {
  padding: 15px;
  background-color: rosybrown;
}

.lawsuits {
  padding: 15px;
  background-color: sandybrown;
}

.political-contributions {
  padding: 15px;
  background-color: silver;
}

.effects-on-ecosystem{
  padding: 15px;
  background-color: teal;
}



