body {
  color: $text;
  margin: 0;
  font-family: $sans-serif-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  white-space: pre-line;
}

a {
  color: $text;
  text-decoration: underline $accent solid;
}

main {
  max-width: 1400px;
}

code {
  font-family: $code-font;
}