body {
  color: $text;
  margin: 0;
  font-family: $sans-serif-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  white-space: pre-line;
}

a {
  color: $text;
  text-decoration: underline $accent solid;
}

main {
  max-width: 1400px;
  margin: 0 40px;
}

code {
  font-family: $code-font;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
  font-size: 1.6em;

}

.grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;

  .item {
    width: 50%;
  }
}

@include mobile {
  .grid {
    flex-direction: column;

    .item {
      width: 100%;
    }
  }
}
