body {
  color: $text;
  margin: 0;
  font-family: $sans-serif-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  white-space: pre-line;
  overflow-wrap: break-word;
}

a {
  color: $text;
  text-decoration: underline $accent solid;
}

main {
  max-width: 1400px;
  margin: 0 auto;
}

code {
  font-family: $code-font;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
  font-size: 1.6em;
}

.grid, .grid-4 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}

.grid .item {
  max-width: 50%;
  flex: 0 0 50%;
}

.grid-4 .item {
  max-width: 25%;
  flex: 0 0 25%;
}

@include mobile {
  .grid, .grid-4 {
    flex-direction: column;

    .item {
      max-width: 100%;
      flex: 0 0 1;
    }
  }
}
